@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(237, 239, 244);
    margin: 0;
}
.gradient-background {
    background-image: linear-gradient(to bottom right, #FFD3CB, #E7A5FF, #B3C9FF);
}

.HomePage-submit-button {
    padding-left: 5%;
    padding-right: 5%;
    width: 10rem;
    height: 2rem;
    background-color: rgb(255, 63, 169);
    border-radius: 0.25rem;
    color: white;
    /* font-weight: bold; */
}

.HomePage-top-bar {
    display: inline-block /* hugs content */
    /* height: 7rem; */
    /* background-color: rgb(237, 239, 244); */
}

.submission_type {
    display:flex;
}

.submission_type_mobile {
    display:none;
}

@media (max-width:750px) {
    .submission_type {
        display:none;
    }
    .submission_type.is-open {
        display:block;
        background-color: aquamarine;
    }

    .submission_type_mobile {
        display:block;
    }
}
