@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    margin: 0;
}
.gradient-background {
    background-image: linear-gradient(to bottom right, #FFD3CB, #E7A5FF, #B3C9FF);
}

.HomePage-submit-button {
    padding-left: 5%;
    padding-right: 5%;
    width: 10rem;
    height: 2rem;
    background-color: rgb(255, 63, 169);
    border-radius: 0.25rem;
    color: white;
    /* font-weight: bold; */
}

.HomePage-top-bar {
    display: inline-block /* hugs content */
    /* height: 7rem; */
    /* background-color: rgb(237, 239, 244); */
}

.submission_type {
    display:flex;
}

.submission_type_mobile {
    display:none;
}

@media (max-width:750px) {
    .submission_type {
        display:none;
    }
    .submission_type.is-open {
        display:block;
        background-color: aquamarine;
    }

    .submission_type_mobile {
        display:block;
    }
}

.UserEdit-container {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.UserEdit-textbox {
    background: radial-gradient(100% 196% at 0% 0%, rgba(235, 238, 245, 0.5) 0%, rgba(235, 238, 245, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 30px 0px #00000040;
    padding: 24px;
    border-radius: 10px;
    font-size: 16px;
}

.UserEdit-bottombutton {
    background: radial-gradient(100% 944.44% at 0% 0%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #395EB9BF; 
    box-shadow: 0px 0px 5px 0px #00000040;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    color: #395EB9;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    height: 33px;
    font-weight: 600
}

.UserEdit-bottombuttonred {
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    background: #FF4395;
    border: 1px solid #FF4395;
    box-shadow: 0px 0px 10px 0px #00000040;
    font-size: 20px;
    font-weight:  600;
    height: 33px;
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
}

.UserEdit-inputbox {
    margin-top: 10px;
    resize: none;
    width: 100%;
    height: 100px;
    background: transparent;
}

.UserEdit-header {
    font-size: 24px;
    font-weight: 700;
    color: #395EB9;
    margin: 30px 0px;
}

.image-container {
    width: 500px; 
    height: auto; 
  }
  
  .image {
    width: 100%;
    height: auto;
  }


  .blue-box {
    background: #395EB9;
    color: white;
    padding: 3px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
  }