@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    margin: 0;
}

.HomePage-submit-button {
    padding-left: 5%;
    padding-right: 5%;
    width: 10rem;
    height: 2rem;
    background-color: rgb(255, 63, 169);
    border-radius: 0.25rem; 
    color: white; 
}

.HomePage-top-bar {
    height: 7rem;
    background-color:  rgb(237, 239, 244);
}

[contentEditable] {
    outline: 0px solid transparent;
}